<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt">
                <h1 class="text-4xl text-white">{{ .title }}</h1>
                {{ if .href }}
                <br/>
                <h2 class="text-4xl text-white"><a href="{{ .href }}"> Learn more </a></h2>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>